{% extends "themes/base_admin.html.twig" %}

{% block title %}Modification de votre profil{% endblock %}

{% block description %}Modifiez les information de votre profil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modification du profil</h1>

    {% include 'components/_alert.html.twig' %}

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10 col-lg-5 mx-auto p-4 shadow">
                    {{form_start(profilForm)}}
                        <div class="mb-3">
                            <label for="">Prénom</label>
                            {{form_widget(profilForm.firstName, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                        </div>
                        <div class="mb-3">
                            <label for="">Nom</label>
                            {{form_widget(profilForm.lastName, {'attr': {'class':'form-control'}})}}
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            {{form_widget(profilForm.email, {'attr': {'class':'form-control'}})}}
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary shadow w-100" value="Modifier">
                        </div>
                    {{form_end(profilForm)}}
                </div>
            </div>
        </div>
{% endblock %}